body {
    padding-top: 70px;
}
.portfolio-item {
    margin-bottom: 30px;
}

footer {
    margin-top: 50px;
}

.port {
    margin-top: 50px;
}
.padding-down {
    margin-bottom: 40px;
}
.padding-up {
    padding-top: 30px;
}
.about-btn {
    margin-top: 10px;
}